@charset "ISO-8859-1";

.card-sh {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.cat-div {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.bg-indigo-600 {
  background-color: rgb(149, 158, 249);
}
.text-black-600 {
   background-color: rgb(84, 84, 231);
}

.error {
	color: red;
}